################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TodoApp/.vs/TodoApp.slnx
/TodoApp/TodoApp/bin/Debug/net10.0
/TodoApp/TodoApp/obj
TodoApp/.vs/ProjectEvaluation/todoapp.metadata.v10.bin
TodoApp/.vs/ProjectEvaluation/todoapp.projects.v10.bin
TodoApp/.vs/ProjectEvaluation/todoapp.strings.v10.bin
TodoApp/.vs/TodoApp/CopilotIndices/18.3.378.57660/CodeChunks.db
TodoApp/.vs/TodoApp/CopilotIndices/18.3.378.57660/SemanticSymbols.db
